.header-wrapper {
    height: 30vh;
    background-image: url("./images/food-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image: url("./images/food-bg.jpg"), url("./images/tajine-bg.jpg");
        background-position: left, right;
        background-size: 50% 100%, 50% 100%;
    }

    @media screen and (min-width: 992px) {
        background-image: url("./images/food-bg.jpg"), url("./images/tajine-bg.jpg"), url("./images/chili-bg.jpg");
        background-position: left, center, right;
        background-size: 34% 100%, 35% 100%, 34% 100%;
    }

    @media screen and (min-width: 1200px) {
        background-image: url("./images/food-bg.jpg"), url("./images/tajine-bg.jpg"), url("./images/chili-bg.jpg"), url("./images/basilicum-bg.jpg");
        background-position: 0vw, 25vw, 50vw, 75vw;
        background-size: 26% 100%, 26% 100%, 26% 100%, 26% 100%;
    }
}

