//font-family, weight, size
$font-size-normal: 1rem;
$font-size-small: 0.75rem;
$font-size-large: 1.5rem;

$font-family: 'Raleway', sans-serif;
$font-family-cursive: 'Dancing Script', cursive;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-normal: 1;

body {
    font-size: $font-size-normal;
    font-family: $font-family;
    font-weight: $font-weight-normal;
    line-height: $line-height-normal;
}

.pink-text {
    color: $color-accent;
}

//h1-h6 styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-cursive;
}

.virtual-h1,
.virtual-h2,
.virtual-h3,
.virtual-h4,
.virtual-h5,
.virtual-h6 {
    font-weight: $font-weight-bold;
}

h1,
.virtual-h1 {
    font-size: 2em;

    @media screen and (min-width: 768px) {
        font-size: 2.5em;
    }
}

h2,
.virtual-h2 {
    font-size: 1.75em;
}

h3,
.virtual-h3 {
    font-size: 1.5em;
}

h4,
.virtual-h4 {
    font-size: 1.25em;
}

h5,
.virtual-h5 {
    font-size: 1em;
}

h6,
.virtual-h6 {
    font-size: 1em;
}